/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 13vh;
    align-items: center;
    padding: 0 100px 0;
}
nav div, nav ul{
    display: flex;
    align-items: center;
}
ul li:nth-child(1){
    font-size: larger;
}

ul li{
    list-style-type: none;
    margin-right: 50px;
    font-family: 'Orbitron';
    font-weight: 600;
}
button{
    padding: 7px 35px;
    border-radius: 14px;
    border: 2px solid #222;
    font-size: large;
}
.button-group{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.search-icon{
    padding-right: 10px;
}
.hero-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.star:nth-child(2){
    position: absolute;
    margin: 100px;
    left: 980px;
}
.star:nth-child(3){
    position: absolute;
    left: 600px;
    bottom: 1px;
    top: 500px;
}
.star>img{
    width: 40px;
}
.globe{
    position: absolute;
    left: 650px;
}
.hero-container>div>img{
    position: absolute;
    overflow: hidden;
    height: 390px;
    left: 95px;
}
.hero-container span.square{
    position: absolute;
    bottom: 21px;
    left: 176px;
}
.hero-container span.globe img{
    position:absolute;
    width: 60px;
    height: 50px;
}
.hero-container span.square img{
    height: 335px;
    width: 286px;
}
.hero-container-right{
    display: flex;
    flex-direction: column;
    padding-left: 600px;
    padding-top: 150px;
}
.hero-heading{
    font-size: 44px;
    font-family: 'Orbitron';
}
.hero-description{
    font-size: 13px;
    padding-top: 40px;
    text-align: center;
    padding-right: 55px;
    font-family: 'Poppins';
}
.hero-container-right>div{
    
    padding-top: 25px;
    padding-left: 176px;
}
.button-email{
    padding-left: 20px;
    padding-bottom: 3px;
    border: 1px solid;
    padding-top: 3px;
    padding-right: 20px;
    font-family: 'Orbitron';
}
.button-join{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    font-family: 'Orbitron';
}
.contact-heading{
    padding-left: 90px;
    color: grey;
    font-family: 'Poppins'; 
}
.icons{
    padding-top: 10px;
    padding-left: 30px;
}
.icons > span{
    margin-right: 15px;
}
