/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url("./assets/bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Poppins';
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}
ul li{
    display: block;
    padding: 10px 30px;
    
}
.line {
    border-left: 1px solid white;
    height: 44px;
    margin-left: 0px;
}
.button-small{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #ba0cc5;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    height: 38px;
    width: 129px;
}
[aria-label="hero"]{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero{
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
    color: #ffffff;
    width: 70%;
}
.hero-heading{
    text-align: center;
    font-size: 61px;
}
.hero-description {
    font-size: 20px;
    text-align: center;
}
.button-large {
    background-color: #ba0dc4;
    color: #ffffff;
    border: none;
    padding: 10px;
    height: 50px;
    width: 240px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    font-size: larger;
}