/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url("./assets/bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}
ul li{
    display: block;
    padding: 10px 30px;
}
.line {
    border-left: 1px solid white;
    height: 44px;
    margin-left: 0px;
}
.button-small{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #ba0cc5;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}
[aria-label="hero"]{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 166px;
}
.bg-image{
        position: absolute;
        height: 86vh;
        width: 100%;
}
.hero{
    position: relative;
    color: #ffffff;
    top: 68px;
    width: 70%;
    padding-left: 295px;
}
.hero-heading{
    font-size: 72px;
}
.hero-description {
    font-size: 30px;
}
.button-large {
    margin-left: 165px;
    background-color: #ba0dc4;
    color: #ffffff;
    border: none;
    padding: 10px;
    height: 60px;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
}