*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
}
body{
    background-color: #151515;
    color: #ffffff;
    font-family: Poppins ,sans-serif;
}
.nav-bar{
    place-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: medium;
    margin: 30px 5%;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    gap: 40px;
}
 .nav-right{
    display: flex;
    flex-direction: row;
} 
.contact-us{
    display: flex;
    flex-direction: row;
}
.cont-pink-img{
    position: relative;
    left: 28px;
    z-index: -1;
}
.nav-down-arrow{
    font-size: 9px;
}

.container{
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
    margin-top: 35px;
}
.backcard{
    position: absolute;
    right: -70px;
    top: 19px;
    z-index: -2;
}
.frontcard{
    position: absolute;
    top: 85px;
    right: 0px;
}
.front {
    width: 690px;
    height: 685px;
    object-fit: cover;
    object-position: 0% 20%; 
} 
.left-container{
    margin-right: 20%;
    margin-top: 6%;
    margin-left: 5%;
}
.heading{
    font-size: 81px;
    font-weight: 300;
}
.heading span{
    color: #f637ec;
    font-weight: 600;
}
.paragraph{
    color: #b5b5b5;
    margin: 40px 20% 50px 0px;
    font-weight: 600;
    /* font-size: 26px; */
}
.get-started{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 77px 0px;
    color: #d8d8d8;
}
.get-started>img:nth-child(1){
    width: 75px;
    filter: blur(1px);
}
.get-started>p{
    font-size: 24px;
    position: relative;
    left: -40px;
}
.get-started>img:nth-child(3){
    position: relative;
    left: -30px;
 }
 .num-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 70px; */
 }
 .num-count>p:nth-child(1){
    font-size: 29px;
    /* font-weight: 500; */
    margin-right: 15px;
}
.num-count>p:nth-child(1)>span{
    color: #c53ecf;
}
.num-count>p:nth-child(2){
    font-size: 22px;
    width: 12%;
    margin-right: 40px;
}
.num-count>p:nth-child(4){
    font-size: 40px;
    /* font-weight: 500; */
    margin-left: 40px;
    margin-right: 15px;
}
.num-count>p:nth-child(4)>span{
    color: #c53ecf;
}
.num-count>p:nth-child(5){
    font-size: 22px;
    width: 15%;
}
.logo-section{
    justify-content: space-around;
    place-items: center;
    background-color: #292929;
    height: 32vh;
    display: flex;
    flex-direction: row;
}
.logo{
    gap: 50px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.content{
    margin: 100px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content>p:nth-child(1){
    font-size: 70px;
}
.content>p:nth-child(1)>span{
    font-weight: 600;
    color: #f637ec;
}
.content>p:nth-child(2){
    margin-top: 30px;
    width: 85%;
    color: #b5b5b5;
    font-size: 24px;
}
.picture-catalogue{
    margin-bottom: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
.box{
    width: 270px;
    height: 250px;
    background-color: #222121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline-color: #dbdbdb;
    outline-style: outset;
    outline-width: 1px;
}
.picture-catalogue>div>p{
    font-size: 26px;
    margin-top: 15px;
    text-align: center;
}
.cloud{
    margin-bottom: 100px;
    background-color: #4f4f4f;
    outline-width: 3px;
}