*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
}
body{
    background-color: #151515;
    color: #ffffff;
    font-family: Poppins ,sans-serif;
}
.nav-bar{
    place-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: medium;
    margin: 30px 5%;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    gap: 40px;
}
 .nav-right{
    display: flex;
    flex-direction: row;
} 
.contact-us{
    display: flex;
    flex-direction: row;
}
.cont-pink-img{
    position: relative;
    left: 28px;
    z-index: -1;
}
.nav-down-arrow{
    font-size: 9px;
}

.container{
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
    margin-top: 35px;
}
.backcard{
    position: absolute;
    right: -70px;
    top: 19px;
    z-index: -2;
}
.frontcard{
    position: absolute;
    top: 85px;
    right: 0px;
}
.front {
    width: 690px;
    height: 685px;
    object-fit: cover;
    object-position: 0% 20%; 
} 
.left-container{
    margin-right: 20%;
    margin-top: 6%;
    margin-left: 5%;
}
.heading{
    font-size: 81px;
    font-weight: 300;
}
.heading span{
    color: #f637ec;
    font-weight: 600;
}
.paragraph{
    color: #b5b5b5;
    margin: 40px 20% 50px 0px;
    font-weight: 600;
    /* font-size: 26px; */
}
.get-started{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 77px 0px;
    color: #d8d8d8;
}
.get-started>img:nth-child(1){
    width: 75px;
    filter: blur(1px);
}
.get-started>p{
    font-size: 24px;
    position: relative;
    left: -40px;
}
.get-started>img:nth-child(3){
    position: relative;
    left: -30px;
 }
 .num-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 70px; */
 }
 .num-count>p:nth-child(1){
    font-size: 29px;
    /* font-weight: 500; */
    margin-right: 15px;
}
.num-count>p:nth-child(1)>span{
    color: #c53ecf;
}
.num-count>p:nth-child(2){
    font-size: 22px;
    width: 12%;
    margin-right: 40px;
}
.num-count>p:nth-child(4){
    font-size: 40px;
    /* font-weight: 500; */
    margin-left: 40px;
    margin-right: 15px;
}
.num-count>p:nth-child(4)>span{
    color: #c53ecf;
}
.num-count>p:nth-child(5){
    font-size: 22px;
    width: 15%;
}
.logo-section{
    justify-content: space-around;
    place-items: center;
    background-color: #292929;
    height: 32vh;
    display: flex;
    flex-direction: row;
}
.logo{
    gap: 50px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.content{
    margin: 100px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content>p:nth-child(1){
    font-size: 70px;
}
.content>p:nth-child(1)>span{
    font-weight: 600;
    color: #f637ec;
}
.content>p:nth-child(2){
    margin-top: 30px;
    width: 85%;
    color: #b5b5b5;
    font-size: 24px;
}
.picture-catalogue{
    margin-bottom: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
.box{
    width: 270px;
    height: 250px;
    background-color: #222121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline-color: #dbdbdb;
    outline-style: outset;
    outline-width: 1px;
}
.picture-catalogue>div>p{
    font-size: 26px;
    margin-top: 15px;
    text-align: center;
}
.cloud{
    margin-bottom: 100px;
    background-color: #4f4f4f;
    outline-width: 3px;
}
.mid{
    display: flex;
    background-color: #fceffb;
    /* height: 180vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mid-section{
    text-align: center;
}
.mid-section>p:nth-child(1){
    margin: 4% 20% 2% 20%;
    text-align: center;
    color: black;
    font-size: 45px;
}
.mid-section>p:nth-child(1)>span{
    color: #f637ec;
}
.mid-section>p:nth-child(2){
    font-size: 20px;
    color: #acacac;
    margin: 3% 20% 3% 20%;
}
.reviews{
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        gap: 100px;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 100px;
        margin-right: 100px;
}
.review{
    outline-style: outset;
    outline-width: 2px;
    outline-color: #e6e6e6;
    background-color: #2b2828;
    width: 350px;
    height: 172px;
}
.review>img{
    margin-top: 15px;
    width: 120px;
    margin-left: 15px;
}
.review>p{
    margin-left: 15px;
    font-size: 14px;
    margin-top: 15px;
}
.review>div{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 25px;  
}
.second-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-last-top{
    text-align: center;
}
.sec-last-top>p:nth-child(1){
    font-size: 71px;
    margin: 7% 10% 2% 10%;
}
.sec-last-top>p:nth-child(1)>span{
    color: #c53ecf;
    font-weight: 600;
}
.sec-last-top>p:nth-child(2){
    font-size: 20px;
    color: #acacac;
    margin: 3% 30% 2% 25%;
}
.switch-btn{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #5c5c5c;
}
.sec-last-switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 150px;
}
.sec-last-switch>div:nth-child(1){
    background-color: #c53ecf;
    width: 85px;
    box-shadow: 0px 0px 40px #c53ecfd1;
}
.last-section-img>img:nth-child(1){
    position: absolute;
    z-index: -1;
    width: 100%;
}
.last-section-img>img:nth-child(2){
    position: absolute;
    z-index: -1;
    width: 100%;
}
.last-section-img>img:nth-child(3){
    position: absolute;
    z-index: -1;
    right: 0px;
    width: 40%;
}
.last-section-img>img:nth-child(4){
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 40%;
}
.last-section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last-section-title>p{
    font-size: 500%;
    font-weight: 500;
    width: 80%;
    margin-top: 10%;
    text-align: center;
    line-height: 1.3;
    transition:.7s;
}
.last-section-title>p>span{
    color: black;
}
.last-sec-gs{
    margin-top: 40px;
    margin-bottom: 200px;
}